<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>

    <h1>Login</h1>

    <form method="POST" action="/login">
        <table>
            <tbody>
                <tr>
                    <td>Full Name:</td>
                    <td>
                        <input type="text" name="fullName">
                    </td>
                </tr>
                <tr>
                    <td>Age: </td>
                    <td>
                        <input type="number" name="age">
                    </td>
                </tr>
                <tr>
                    <td>
                        <button type="submit">Login</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </form>
    
</body>
</html>